/Application.class
/Find_key.class
/Mainwork.class
/Microwave.class
/Refrigerator.class
/School.class
/Warehouse.class
/WashingMachine.class
/fintness.class
/new2task.class
/newtask.class
/retail.class
/work.class
